<div class="card mb-3">
  <div class="card-body">
    <h5 class="card-title text-center"><%= tutorial.title %></h5>
    <p class="card-text text-center text-muted">
      by <%= tutorial.instructor %>
    </p>
    <p class="card-text"><%= tutorial.description %></p>
    <div class="text-center">
      <% if (tutorial.paid) { %>
      <p class="card-text text-success">This is a paid course.</p>
      <% } %>
      <a
        href="<%= tutorial.url %> "
        class="btn btn-danger text-white"
        target="_blank"
        rel="noreferrer noopener"
        >Visit this tutorial
      </a>
    </div>
  </div>
</div>
