<% if (flashMessages.success) { %>
<div class="alert alert-success alert-dismissible fade show" role="alert">
  <strong>Success!</strong> <%= flashMessages.success %>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<% } else if (flashMessages.error) { %>
<div class="alert alert-danger alert-dismissible fade show" role="alert">
  <strong>Error!</strong>
  <% if (typeof flashMessages.error === 'object') { %>
  <ul>
    <% flashMessages.error.forEach(errorMessage => { %>
    <li><%= errorMessage %></li>
    <% }) %>
  </ul>
  <% } else { %> <%= flashMessages.error %> <% } %>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<% } %>
