<head>
  <meta charset="utf-8" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=0.8, maximum-scale=1"
  />
  <title>Tutorial Purgatory</title>
  <link rel="icon" type="image/png" href="images/favicon.png" />
  <link
    href="https://fonts.googleapis.com/css?family=Special+Elite|Muli:400,400i,700&display=swap"
    rel="stylesheet"
  />
  <link rel="stylesheet" href="/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/css/custom.css" />
</head>
