<div class="jumbotron custom-jumbotron-bg my-3">
  <h1 class="text-center display-4 custom-display-4">Hello, purgatory!</h1>
  <p class="lead">
    Welcome to <strong>Tutorial Purgatory</strong>, a website where you can find
    and share JavaScript and other web development-related tutorials from around
    the web. <% if (!currentUser) { %>
    <a class="link-custom" href="/users/new">Register</a> for an account today!
    Already registered? <a class="link-custom" href="/login">Log in</a>. <% } %>
  </p>
  <hr class="my-4" />
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <img
          class="custom-hero-img"
          src="images/hero.png"
          alt="Computer, pencil, tutorial purgatory!"
        />
      </div>
      <div class="col-sm-8">
        <p>
          Have you just completed an introductory or intermediate JavaScript
          tutorial series and have no projects to speak of? About to sign up for
          another "Advanced JavaScript" course? It's likely you're in
          <strong>Tutorial Purgatory</strong>.
        </p>
        <p>
          Tutorials are a great place to get started learning web development,
          and many of the resources I've shared here document my own dev
          journey. I hope that this website will provide others with a
          foundation on which to get started and learn, but I feel it my duty to
          warn visitors to not overrely on these materials! Remember to code and
          build, <em>not</em> copy! Once we become overly dependent on
          tutorials, they quickly become a detriment and distraction to coding.
          We become accustomed to an instructor's way of doing things, shirking
          any sort of experimentation and even sacrificing any coding time while
          becoming little more than habitual observers and imitators. So learn a
          little, code a lot!
        </p>
        <a href="/about" class="btn btn-outline-danger btn-lg">Learn more</a>
      </div>
    </div>
  </div>
</div>
