<nav class="fixed-top navbar navbar-expand-lg navbar-dark navbar-bg-custom">
  <a class="navbar-brand custom-navbar-brand" href="/">Tutorial Purgatory</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/"
          >Home <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/tutorials">Tutorials</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/users">Users</a>
      </li>
      <li class="nav-item mr-3">
        <a class="nav-link" href="/about">About</a>
      </li>
      <% if (loggedIn) { %>
      <div class="btn-group" role="group" aria-label="group">
        <a href="<%= `/users/${currentUser._id}` %> "
          ><button type="button" class="btn btn-danger">
            Welcome
            <span class="badge badge-light"><%= currentUser.fullName %> </span>
          </button></a
        >
        <a href="/users/logout" class="btn btn-dark px-5">Log out</a>
      </div>
      <% } else { %>
      <div class="btn-group" role="group" aria-label="group">
        <a href="/users/new" type="button" class="btn btn-light px-5"
          >Register</a
        >
        <a
          href="/users/login"
          type="button"
          class="btn btn-danger text-white px-5"
          >Log in</a
        >
      </div>
      <% } %>
    </ul>
  </div>
</nav>
