<h2 class="text-center">About Us</h2>
<blockquote class="blockquote text-right">
  <p>
    For every project I could think of, there were several features I had
    absolutely no idea how to build. I would always ask myself how I could start
    working on something when I didn’t even know half of what it took to finish
    it. I was convinced I needed to learn more before I could build anything of
    my own.
  </p>
  <footer class="blockquote-footer">
    Tony Mastrorio,
    <a
      class="link-custom"
      href="https://www.freecodecamp.org/news/how-to-escape-tutorial-purgatory-as-a-new-developer-or-at-any-time-in-your-career-e3a4b2384a40/"
      target="_blank"
      rel="noopener noreferrer"
      >freeCodeCamp</a
    >
  </footer>
</blockquote>
<div class="container">
  <img
    class="img-fluid float-md-left mr-4"
    src="/images/frustrated.png"
    alt="A frustrated, aspiring developer in Tutorial Purgatory"
    style="width: 30%;"
  />
  <p>
    Does the quote above resonate with you? Do you ever feel like, rather than
    accumulating coding knowledge, the only thing you really feel accumulating
    is the list of coding courses and tutorials in your Udemy dashboard or
    YouTube playlist (not to mention charges to your credit card)? Then welcome
    to
    <strong>Tutorial Purgatory</strong>.
  </p>
  <p>
    Tutorial Purgatory is the strangely comforting but ultimately dangerous
    place where many aspiring developers end up. When we're first starting out,
    tutorials are great. Everyone has to start someplace, and the O'Reilly and
    Manning books of yesteryear are now joined by a wide array of resources
    across the web, both free and paid, and they're ours to use! These tutorials
    cover just about every aspect of web development one could imagine, whether
    you're looking at designing a static site with HTML and CSS or building a
    full-stack web app with the MEAN, MERN, or LAMP stack.
  </p>
  <p>
    The danger comes when we allow the tutorials to rule us, when we convince
    ourselves, like Tony Mastrorio did, that we couldn't possibly begin coding
    without having a totally comprehensive understanding of every aspect of
    coding. It leads to a sort of paralysis, where you can take comfort in the
    incremental challenges and lessons of a tutorial series (knowing that the
    instructor will always provide a solution in the next video!) but never
    building anything for yourself.
  </p>
  <p>
    I can definitely attest to that. I was a long-time denizen of tutorial
    purgatory and hope that this modest website is my ticket out. This site was
    built with the knowledge gleaned from tutorials, certainly, but at the end
    of the day, it was just me and my text editor that could bring this place to
    life, and so I had to stop <em>learning</em> and start <em>coding</em>.
  </p>
  <p>
    The site's title is both therapeutic and a little tongue-in-cheek. I don't
    mean to scare people with the term, but caution them. The resources I have
    collected and curated here have been invaluable, and I often find myself
    returning to them. But I've learned to consume them in moderation, and it is
    with that warning that I leave you. Once you feel like you're starting to
    get the hang of this thing (or even if you're still pretty confused), start
    coding!
  </p>
</div>
