<h1 class="text-center display-4 custom-display">Oops!</h1>
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <img class="img-fluid" src="/images/404.png" alt="404 Error" />
    </div>
    <div class="col-sm-8">
      <h4 class="h4 mb-3">Looks like you're a little lost.</h4>
      <p>
        The resource you requested was not found (<span class="text-info"
          >404</span
        >).
      </p>
      <p>
        To learn more about 404 errors, read
        <a
          class="text-danger link-custom"
          href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/404"
          target="_blank"
          rel="noreferrer noopener"
          >this short description</a
        >
        over at the Mozilla Developers Network.
      </p>
      <p>
        To learn more about HTTP status codes in general, see
        <a
          class="link-custom"
          href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Status"
          target="_blank"
          rel="noreferrer noopener"
          >this detailed listing</a
        >, also at MDN, or if you're a dog person check out
        <a
          class="link-custom"
          href="https://httpstatusdogs.com/"
          target="_blank"
          rel="noreferrer noopener"
          >HTTP Status Dogs</a
        >.
      </p>
      <a
        class="btn btn-danger btn-lg text-white link-custom"
        href="/"
        role="button"
        >Return to purgatory</a
      >
    </div>
  </div>
</div>
