<!DOCTYPE html>
<html>
  <%- include('partials/_head'); %>
  <body>
    <%- include('partials/_navbar'); %>

    <main class="container" role="main">
      <% if (flashMessages) { %> <%- include('partials/_flash', {flashMessages:
      flashMessages}); %> <% } %> <%- body %>
    </main>

    <%- include('partials/_footer'); %> <%- include('partials/_scripts'); %>
  </body>
</html>
