/* General */

html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: 'Muli', 'Segoe UI', 'Helvetica', 'Arial', sans-serif;
}

.link-custom,
.link-custom:visited {
  color: #ff0000;
}

.link-custom:focus,
.link-custom:hover {
  color: #940000;
}

body > .container {
  margin: 80px auto;
}

/* Navbar */

.navbar-brand.custom-navbar-brand {
  font-family: 'Special Elite', cursive;
}

.navbar.navbar-expand-lg.navbar-dark.navbar-bg-custom {
  background-color: #940000;
}

/* Jumbotron */

.jumbotron.custom-jumbotron-bg {
  background-image: url(/images/grey.png);
}

.display-4.custom-display-4 {
  font-family: 'Special Elite', cursive;
}

.custom-hero-img {
  width: 100%;
}

/* Footer */
.footer-custom {
  background: #f5f5f5;
  bottom: 0;
  position: absolute;
  width: 100%;
  height: 60px;
  line-height: 60px;
}
