<h2 class="text-center text-warning">Editing <%= tutorial.title %></h2>

<form
  action="<%= `/tutorials/update/${tutorial._id}?_method=PUT` %> "
  method="POST"
>
  <div class="form-group">
    <label for="inputTitle">Title</label>
    <input
      type="text"
      class="form-control"
      name="title"
      id="inputTitle"
      aria-describedby="inputTitle"
      placeholder="Enter title"
      value="<%= tutorial.title %>"
    />
  </div>
  <div class="form-group">
    <label for="inputInstructor">Instructor</label>
    <input
      type="text"
      class="form-control"
      name="instructor"
      id="inputInstructor"
      aria-describedby="inputInstructor"
      placeholder="Enter instructor name"
      value="<%= tutorial.instructor %>"
    />
  </div>
  <div class="form-group">
    <label for="inputUrl">URL</label>
    <input
      type="text"
      class="form-control"
      name="url"
      id="inputUrl"
      aria-describedby="inputUrl"
      placeholder="Enter URL"
      value="<%= tutorial.url %>"
    />
  </div>
  <div class="form-group">
    <label for="selectPaid">Free or paid</label>
    <select class="form-control" name="paid" id="selectPaid">
      <option value="">--Please select an option--</option>
      <option
        value="false"
        <%= tutorial.paid === false ? 'selected' : '' %>
        >Free</option
      >
      <option value="true" <%= tutorial.paid === true ? 'selected' : '' %>>Paid</option>
    </select>
  </div>
  <div class="form-group">
    <label for="inputDescription">Description</label>
    <textarea
      class="form-control"
      name="description"
      id="inputDescription"
      rows="6"
      placeholder="Enter description"
    ><%= tutorial.description %> </textarea>
  </div>
  <button type="submit" class="btn btn-warning">Save</button>
</form>
