<h2 class="text-center">Tutorials</h2>
<p>
  Our list of tutorials, submitted by purgatorians like you! Click on each title
  to learn more, or submit your own!
</p>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Instructor</th>
    </tr>
  </thead>
  <tbody>
    <% tutorials.forEach(tutorial => { %>
    <tr>
      <td>
        <a class="link-custom" href="<%= `/tutorials/${tutorial._id}` %> "
          ><%= tutorial.title %></a
        >
      </td>
      <td><%= tutorial.instructor %></td>
    </tr>
    <% }) %>
  </tbody>
</table>
<% if (loggedIn) { %>
<a href="/tutorials/new" class="btn btn-outline-danger">Add new tutorial</a>
<% } %>
