<h2 class="text-center">Add New Tutorial</h2>

<form action="/tutorials/create" method="POST">
  <div class="form-group">
    <label for="inputTitle">Title</label>
    <input
      type="text"
      class="form-control"
      name="title"
      id="inputTitle"
      aria-describedby="inputTitle"
      placeholder="Enter title"
    />
  </div>
  <div class="form-group">
    <label for="inputInstructor">Instructor</label>
    <input
      type="text"
      class="form-control"
      name="instructor"
      id="inputInstructor"
      aria-describedby="inputInstructor"
      placeholder="Enter instructor name"
    />
  </div>
  <div class="form-group">
    <label for="inputUrl">URL</label>
    <input
      type="text"
      class="form-control"
      name="url"
      id="inputUrl"
      aria-describedby="inputUrl"
      placeholder="Enter URL"
    />
  </div>
  <div class="form-group">
    <label for="selectPaid">Free or paid</label>
    <select class="form-control" name="paid" id="selectPaid">
      <option value="">--Please select an option--</option>
      <option value="false">Free</option>
      <option value="true">Paid</option>
    </select>
  </div>
  <div class="form-group">
    <label for="inputDescription">Description</label>
    <textarea
      class="form-control"
      name="description"
      id="inputDescription"
      rows="6"
      placeholder="Enter description"
    ></textarea>
  </div>
  <button type="submit" class="btn btn-danger">Add Tutorial</button>
</form>
