<h2 class="text-center"><%= tutorial.title %></h2>
<p class="text-center text-muted">by <%= tutorial.instructor %></p>
<p class="text-center">
  <a
    class="link-custom"
    href="<%= tutorial.url %> "
    target="_blank"
    rel="noreferrer noopener"
    >Visit this tutorial's website</a
  >
</p>
<p><%= tutorial.description %></p>
<% if (tutorial.paid) { %>
<p class="text-success">
  <i class="fas fa-file-invoice-dollar"></i> <%= tutorial.title %> is a paid
  tutorial. A one-time fee or service subscription may apply.
</p>
<% } %>
<p>
  <small class="text-muted"
    >This entry was submitted by
    <a class="link-custom" href="<%= `../users/${author._id}` %>"
      ><%= author.fullName %></a
    >.
  </small>
</p>
<% if (loggedIn) { %> <% if (String(author._id) === String(currentUser._id)) {
%>
<a
  href="<%= `/tutorials/edit/${tutorial._id}` %> "
  class="btn btn-outline-warning"
  >Edit</a
>
<a
  href="<%= `/tutorials/delete/${tutorial._id}?_method=DELETE` %>"
  onclick="return confirm('Are you sure you want to delete this tutorial?')"
  class="btn btn-outline-danger"
  >Delete</a
>
<% } %> <% } %>
