<h2 class="text-center">Users</h2>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
    </tr>
  </thead>
  <tbody>
    <% users.forEach(user => { %>
    <tr>
      <td>
        <a class="link-custom" href="<%= `/users/${user._id}` %> "
          ><%= user.fullName %></a
        >
      </td>
      <td><%= user.email %></td>
    </tr>
    <% }) %>
  </tbody>
</table>
