<h2 class="text-center">Log In</h2>
<form action="/users/login" method="POST">
  <div class="form-group">
    <label for="inputEmail">Email address</label>
    <input
      type="email"
      name="email"
      class="form-control"
      id="inputEmail"
      aria-describedby="inputEmail"
    />
  </div>
  <div class="form-group">
    <label for="inputPassword">Password</label>
    <input
      type="password"
      name="password"
      class="form-control"
      id="inputPassword"
    />
  </div>
  <button type="submit" class="btn btn-danger">Login</button>
</form>
