<h2 class="text-center">Register</h2>

<form action="/users/create" method="POST">
  <div class="form-group">
    <label for="inputFirstName">First name</label>
    <input
      type="text"
      class="form-control"
      name="first"
      id="inputFirstName"
      aria-describedby="inputFirstName"
      placeholder="Enter first name"
      required
    />
  </div>
  <div class="form-group">
    <label for="inputLastName">Last name</label>
    <input
      type="text"
      class="form-control"
      name="last"
      id="inputLastName"
      aria-describedby="inputLastName"
      placeholder="Enter last name"
      required
    />
  </div>
  <div class="form-group">
    <label for="inputEmail">Email address</label>
    <input
      type="email"
      class="form-control"
      name="email"
      id="inputEmail"
      aria-describedby="inputEmail"
      placeholder="Enter email"
      required
    />
  </div>
  <div class="form-group">
    <label for="inputPassword">Password</label>
    <input
      type="password"
      class="form-control"
      name="password"
      id="inputPassword"
      placeholder="Password"
      required
    />
  </div>
  <button type="submit" class="btn btn-danger">Register</button>
</form>
